.task {
    background: #eff1f1;
    margin: 5px;
    padding: 10px 20px;
    cursor: pointer;
  }
  
  .task.reminder {
    border-left: 5px solid rgb(38, 243, 99);
  }
  
  .task h3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }